DemoRest26/src/main/java/com/RestFul26/DemoRest26/Friends.xsd

<xs:schema targetNamespace="http://xml.friends"            xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:myco="http://xml.friends">	
  <xs:element name="friends" type="myco:Friends"/>
  <xs:complexType name="Friends">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="college" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>